# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# Logs
*.log

# Secrets / configs sensibles
appsettings.Development.json
appsettings.*.Development.json

# Environment files (si usas)
.env

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish output
publish/

# Dotnet tools
*.dotsettings